/* Common shared css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.common-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.common-btn{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    margin-top: 15px;
    background: #E55473;
    color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.common-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.common-style{
    color: #f95679;
}
/* header section css */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
    height: 100vh;
    background-color: rgb(252, 214, 222);
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 15px;
}
.banner-content{
    margin-left: 130px;
}
.banner-img{
    margin-right: 70px;
}
.banner-img img{
    width: 595px;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* main section css */
main section{
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}
/* featured section css */
.featured-item{
    margin-top: 100px;
}
.featured-item p{
    margin: 15px 250px ;
}
.featured-img-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-img-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.featured-img1{
    min-height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-img2{
    min-height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-img3{
    min-height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-img1 img,
.featured-img2 img,
.featured-img3 img{
    width: 250px;
    padding: 30px 25px 0px 25px;
}
.featured-img-box a{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* Service section css */
.services{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: rgba(39, 39, 39, 0.05);
}
.services-content img{
    width: 85px;
    margin-bottom: 15px;
}
/* offer section css */
.offers{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 214, 222);
    height: 600px;
}
.offer-content{
    padding: 150px 150px 0 150px;
}
.offer-content p{
    margin: 10px 30px;
}
.offer-flower-img{
    padding: 70px 200px 0 0;
}
/* instagram content css */
.instagram{
    margin-top: 100px;
}
.instagram p{
    margin: 20px 250px;
}
.instagram-img{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.instagram-img img{
    width: 250px;
}
.coupon-form{
    margin: 100px auto;
    background-image: url('../images/coupon-bg.png');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coupon-form p{
    margin: 15px;
}
.coupon-form form input{
    border: none;
    padding: 10px 20px;
    width: 500px;
    height: 20px;
}
/* blog section style */
.our-blog{
    margin-bottom: 100px;
}
.our-blog p{
    margin: 20px 250px;
}
.latest-blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap:15px;
}
.blog-content{
    border: ;
    box-shadow: 2px 2px 5px black;
    padding-bottom: 20px;
}
.latest-blog .blog-title{
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 600;
}
.latest-blog p{
    text-align: justify;
    margin: 10px;
    padding-left: 5px;
    line-height: 25px;
}
.latest-blog button{
    background-color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}
.latest-blog img{
    width: 350px;
    margin: 0;
    height: 300px;
}
/* footer section style */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: black;
}
.footer h3{
    color: #FFF;
}
.footer p{
    color: #FFF;
    margin: 20px 450px;
    text-align: center;
}
.footer small{
    color: #4d4d4d;
}